# 1905

In [1]:
import pandas as pd

In [3]:
tot1905 = pd.read_csv("../clean_data/1905ML.csv")
tot1905 = tot1905.drop({"Unnamed: 0", "H", "HR", "BB", "SB", "HA", "HRA", "BBA", "SOA", "E"}, axis=1)
tot1905

      yearID franchID WSWin    R   ERA  WP
0       1905      BOS     N  579  2.84  50
1       1905      LAD     N  506  3.76  30
2       1905      ATL     N  468  3.52  32
3       1905      CHW     N  612  1.99  58
4       1905      CHC     N  667  2.04  59
5       1905      CIN     N  735  3.01  50
6       1905      CLE     N  567  2.85  49
7       1905      DET     N  512  2.83  51
8       1905      SFG     Y  780  2.39  67
9       1905      NYY     N  586  2.93  46
10      1905      OAK     N  623  2.19  60
11      1905      PHI     N  708  2.81  53
12      1905      PIT     N  692  2.86  61
13      1905      BAL     N  511  2.74  34
14      1905      STL     N  535  3.59  37
15      1905      MIN     N  559  2.87  41
16      1906      BOS     N  463  3.41  31
17      1906      LAD     N  496  3.13  43
18      1906      ATL     N  408  3.14  32
19      1906      CHW     Y  570  2.13  60
20      1906      CHC     N  705  1.75  74
21      1906      CIN     N  533  2.69  41
22      1906      CLE     N  663  2.09  56
23      1906      DET     N  518  3.06  47
24      1906      SFG     N  625  2.49  62
25      1906      NYY     N  644  2.78  58
26      1906      OAK     N  561  2.60  52
27      1906      PHI     N  528  2.58  46
28      1906      PIT     N  623  2.21  60
29      1906      BAL     N  558  2.23  49
...      ...      ...   ...  ...   ...  ..
2300    2015      KCR     Y  724  3.73  58
2301    2015      MIN     N  696  4.07  51
2302    2015      CLE     N  669  3.67  50
2303    2015      CHW     N  622  3.98  46
2304    2015      DET     N  689  4.64  45
2305    2015      TOR     N  891  3.80  57
2306    2015      NYY     N  764  4.03  53
2307    2015      BAL     N  713  4.05  50
2308    2015      TBD     N  644  3.74  49
2309    2015      BOS     N  748  4.31  48
2310    2015      TEX     N  751  4.24  54
2311    2015      HOU     N  729  3.57  53
2312    2015      ANA     N  661  3.94  52
2313    2015      SEA     N  656  4.16  46
2314    2015      OAK     N  694  4.14  41
2315    2015      STL     N  647  2.94  61
2316    2015      PIT     N  697  3.21  60
2317    2015      CHC     N  689  3.36  59
2318    2015      MIL     N  655  4.28  41
2319    2015      CIN     N  640  4.33  39
2320    2015      NYM     N  683  3.43  55
2321    2015      WSN     N  703  3.62  51
2322    2015      FLA     N  613  4.02  43
2323    2015      ATL     N  573  4.41  41
2324    2015      PHI     N  626  4.69  38
2325    2015      LAD     N  667  3.44  56
2326    2015      SFG     N  696  3.72  51
2327    2015      ARI     N  720  4.04  48
2328    2015      SDP     N  650  4.09  45
2329    2015      COL     N  737  5.04  41

[2330 rows x 6 columns]

In [3]:
# Create a function to convert the bats and throws colums to numeric
def bats_throws(col):
   if col == "Y":
       return 1
   else:
       return 0

# Use the `apply()` method to create numeric columns from the bats and throws columns
tot1905['WSWin'] = tot1905['WSWin'].apply(bats_throws)

# Print out the first rows of `master_df`
tot1905

      yearID franchID  WSWin    R   ERA  WP
0       1905      BOS      0  579  2.84  50
1       1905      LAD      0  506  3.76  30
2       1905      ATL      0  468  3.52  32
3       1905      CHW      0  612  1.99  58
4       1905      CHC      0  667  2.04  59
5       1905      CIN      0  735  3.01  50
6       1905      CLE      0  567  2.85  49
7       1905      DET      0  512  2.83  51
8       1905      SFG      1  780  2.39  67
9       1905      NYY      0  586  2.93  46
10      1905      OAK      0  623  2.19  60
11      1905      PHI      0  708  2.81  53
12      1905      PIT      0  692  2.86  61
13      1905      BAL      0  511  2.74  34
14      1905      STL      0  535  3.59  37
15      1905      MIN      0  559  2.87  41
16      1906      BOS      0  463  3.41  31
17      1906      LAD      0  496  3.13  43
18      1906      ATL      0  408  3.14  32
19      1906      CHW      1  570  2.13  60
20      1906      CHC      0  705  1.75  74
21      1906      CIN      0  533  2.69  41
22      1906      CLE      0  663  2.09  56
23      1906      DET      0  518  3.06  47
24      1906      SFG      0  625  2.49  62
25      1906      NYY      0  644  2.78  58
26      1906      OAK      0  561  2.60  52
27      1906      PHI      0  528  2.58  46
28      1906      PIT      0  623  2.21  60
29      1906      BAL      0  558  2.23  49
...      ...      ...    ...  ...   ...  ..
2300    2015      KCR      1  724  3.73  58
2301    2015      MIN      0  696  4.07  51
2302    2015      CLE      0  669  3.67  50
2303    2015      CHW      0  622  3.98  46
2304    2015      DET      0  689  4.64  45
2305    2015      TOR      0  891  3.80  57
2306    2015      NYY      0  764  4.03  53
2307    2015      BAL      0  713  4.05  50
2308    2015      TBD      0  644  3.74  49
2309    2015      BOS      0  748  4.31  48
2310    2015      TEX      0  751  4.24  54
2311    2015      HOU      0  729  3.57  53
2312    2015      ANA      0  661  3.94  52
2313    2015      SEA      0  656  4.16  46
2314    2015      OAK      0  694  4.14  41
2315    2015      STL      0  647  2.94  61
2316    2015      PIT      0  697  3.21  60
2317    2015      CHC      0  689  3.36  59
2318    2015      MIL      0  655  4.28  41
2319    2015      CIN      0  640  4.33  39
2320    2015      NYM      0  683  3.43  55
2321    2015      WSN      0  703  3.62  51
2322    2015      FLA      0  613  4.02  43
2323    2015      ATL      0  573  4.41  41
2324    2015      PHI      0  626  4.69  38
2325    2015      LAD      0  667  3.44  56
2326    2015      SFG      0  696  3.72  51
2327    2015      ARI      0  720  4.04  48
2328    2015      SDP      0  650  4.09  45
2329    2015      COL      0  737  5.04  41

[2330 rows x 6 columns]

In [4]:
features = tot1905.drop({"franchID", "WSWin", "yearID"}, axis=1)
features

        R   ERA  WP
0     579  2.84  50
1     506  3.76  30
2     468  3.52  32
3     612  1.99  58
4     667  2.04  59
5     735  3.01  50
6     567  2.85  49
7     512  2.83  51
8     780  2.39  67
9     586  2.93  46
10    623  2.19  60
11    708  2.81  53
12    692  2.86  61
13    511  2.74  34
14    535  3.59  37
15    559  2.87  41
16    463  3.41  31
17    496  3.13  43
18    408  3.14  32
19    570  2.13  60
20    705  1.75  74
21    533  2.69  41
22    663  2.09  56
23    518  3.06  47
24    625  2.49  62
25    644  2.78  58
26    561  2.60  52
27    528  2.58  46
28    623  2.21  60
29    558  2.23  49
...   ...   ...  ..
2300  724  3.73  58
2301  696  4.07  51
2302  669  3.67  50
2303  622  3.98  46
2304  689  4.64  45
2305  891  3.80  57
2306  764  4.03  53
2307  713  4.05  50
2308  644  3.74  49
2309  748  4.31  48
2310  751  4.24  54
2311  729  3.57  53
2312  661  3.94  52
2313  656  4.16  46
2314  694  4.14  41
2315  647  2.94  61
2316  697  3.21  60
2317  689  3.36  59
2318  655  4.28  41
2319  640  4.33  39
2320  683  3.43  55
2321  703  3.62  51
2322  613  4.02  43
2323  573  4.41  41
2324  626  4.69  38
2325  667  3.44  56
2326  696  3.72  51
2327  720  4.04  48
2328  650  4.09  45
2329  737  5.04  41

[2330 rows x 3 columns]

In [5]:
# Create `target` Series
target = tot1905['WSWin']
target

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       1
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      1
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
2300    1
2301    0
2302    0
2303    0
2304    0
2305    0
2306    0
2307    0
2308    0
2309    0
2310    0
2311    0
2312    0
2313    0
2314    0
2315    0
2316    0
2317    0
2318    0
2319    0
2320    0
2321    0
2322    0
2323    0
2324    0
2325    0
2326    0
2327    0
2328    0
2329    0
Name: WSWin, Length: 2330, dtype: int64

In [6]:
# Import cross_val_predict, KFold and LogisticRegression from 'sklearn'
from sklearn.cross_validation import cross_val_predict, KFold
from sklearn.linear_model import LogisticRegression

# Create Logistic Regression model
lr = LogisticRegression(class_weight='balanced')

# Create an instance of the KFold class
kf = KFold(features.shape[0], random_state=1)

# Create predictions using cross validation
predictions_lr = cross_val_predict(lr, features, target, cv=kf)

/Applications/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [7]:
import numpy as np

# Convert predictions and target to NumPy arrays
np_predictions_lr = np.asarray(predictions_lr)
np_target = target.as_matrix()

In [8]:
# Determine True Positive count
tp_filter_lr = (np_predictions_lr == 1) & (np_target == 1)
tp_lr = len(np_predictions_lr[tp_filter_lr])

# Determine False Negative count
fn_filter_lr = (np_predictions_lr == 0) & (np_target == 1)
fn_lr = len(np_predictions_lr[fn_filter_lr])

# Determine False Positive count
fp_filter_lr = (np_predictions_lr == 1) & (np_target == 0)
fp_lr = len(np_predictions_lr[fp_filter_lr])

# Determine True Negative count
tn_filter_lr = (np_predictions_lr == 0) & (np_target == 0)
tn_lr = len(np_predictions_lr[tn_filter_lr])

# Determine True Positive rate
tpr_lr = tp_lr / (tp_lr + fn_lr)

# Determine False Negative rate
fnr_lr = fn_lr / (fn_lr + tp_lr)

# Determine False Positive rate
fpr_lr = fp_lr / (fp_lr + tn_lr)

# Print each count
print(tp_lr)
print(fn_lr)
print(fp_lr)

# Print each rate
print(tpr_lr)
print(fnr_lr)
print(fpr_lr)

91
19
423
0.8272727272727273
0.17272727272727273
0.19054054054054054

In [9]:
new_data = tot1905
new_features = features

In [10]:
# Fit the Random Forest model
lr.fit(features, target)

# Estimate probabilities of Hall of Fame induction
probabilities = lr.predict_proba(new_features)

In [11]:
# Convert predictions to a DataFrame
WS_predictions = pd.DataFrame(probabilities[:,1])

# Sort the DataFrame (descending)
WS_predictions = WS_predictions.sort_values(0, ascending=False)

WS_predictions['Probability'] = WS_predictions[0]

# Print 50 highest probability HoF inductees from still eligible players
for i, row in WS_predictions.head(50).iterrows():
   prob = ' '.join(('WS Probability =', str(row['Probability'])))
   print('')
   print(prob)
   print(new_data.iloc[i,1:27])

WS Probability = 0.997478483953
franchID     CHC
WSWin          0
R            705
ERA         1.75
WP            74
Name: 20, dtype: object

WS Probability = 0.99275976815
franchID     PIT
WSWin          1
R            699
ERA         2.07
WP            71
Name: 76, dtype: object

WS Probability = 0.9889589796
franchID    NYY
WSWin         1
R           975
ERA         3.2
WP           70
Name: 377, dtype: object

WS Probability = 0.9877550509
franchID     CHC
WSWin          1
R            574
ERA         1.73
WP            69
Name: 36, dtype: object

WS Probability = 0.985868552846
franchID     CHC
WSWin          0
R            635
ERA         1.75
WP            67
Name: 68, dtype: object

WS Probability = 0.985093154912
franchID     CLE
WSWin          0
R            746
ERA         2.78
WP            71
Name: 806, dtype: object

WS Probability = 0.983848409342
franchID     NYY
WSWin          1
R            967
ERA         3.31
WP            69
Name: 569, dtype: object

WS Probability = 0.983130789253
franchID     SFG
WSWin          1
R            780
ERA         2.39
WP            67
Name: 8, dtype: object

WS Probability = 0.98233543686
franchID     SEA
WSWin          0
R            927
ERA         3.54
WP            71
Name: 1904, dtype: object

WS Probability = 0.981404279853
franchID     OAK
WSWin          1
R            673
ERA         1.79
WP            65
Name: 90, dtype: object

WS Probability = 0.97937872393
franchID     BOS
WSWin          1
R            799
ERA         2.76
WP            68
Name: 112, dtype: object

WS Probability = 0.978338607733
franchID     SFG
WSWin          0
R            823
ERA         2.58
WP            66
Name: 120, dtype: object

WS Probability = 0.976682807628
franchID     STL
WSWin          1
R            755
ERA         2.55
WP            67
Name: 622, dtype: object

WS Probability = 0.97391278152
franchID     NYY
WSWin          1
R            965
ERA         3.82
WP            70
Name: 1808, dtype: object

WS Probability = 0.973093846687
franchID     CHC
WSWin          0
R            712
ERA         2.51
WP            67
Name: 84, dtype: object

WS Probability = 0.971661256829
franchID     CIN
WSWin          1
R            577
ERA         2.23
WP            68
Name: 245, dtype: object

WS Probability = 0.969897182708
franchID     BAL
WSWin          0
R            779
ERA         2.83
WP            67
Name: 1071, dtype: object

WS Probability = 0.969304996242
franchID     STL
WSWin          1
R            772
ERA         2.67
WP            66
Name: 654, dtype: object

WS Probability = 0.968536804804
franchID     OAK
WSWin          1
R            901
ERA         3.44
WP            68
Name: 410, dtype: object

WS Probability = 0.968098383212
franchID     OAK
WSWin          1
R            861
ERA         3.01
WP            66
Name: 106, dtype: object

WS Probability = 0.967323742365
franchID     OAK
WSWin          0
R            858
ERA         3.47
WP            69
Name: 442, dtype: object

WS Probability = 0.963975069544
franchID     LAD
WSWin          0
R            742
ERA         2.84
WP            67
Name: 609, dtype: object

WS Probability = 0.963273091734
franchID     NYY
WSWin          0
R            801
ERA         2.91
WP            66
Name: 617, dtype: object

WS Probability = 0.960497194587
franchID     CHW
WSWin          1
R            656
ERA         2.16
WP            64
Name: 211, dtype: object

WS Probability = 0.959912628229
franchID     NYY
WSWin          1
R           1002
ERA         3.98
WP            68
Name: 457, dtype: object

WS Probability = 0.959023210598
franchID     STL
WSWin          0
R            679
ERA         2.57
WP            66
Name: 638, dtype: object

WS Probability = 0.958733864956
franchID     BOS
WSWin          1
R            669
ERA         2.39
WP            65
Name: 169, dtype: object

WS Probability = 0.95138749968
franchID     SFG
WSWin          0
R            684
ERA         2.42
WP            64
Name: 136, dtype: object

WS Probability = 0.95019719385
franchID     SFG
WSWin          0
R            756
ERA         2.69
WP            64
Name: 104, dtype: object

WS Probability = 0.948616959224
franchID     NYM
WSWin          1
R            783
ERA         3.11
WP            66
Name: 1512, dtype: object

WS Probability = 0.948051895326
franchID     BAL
WSWin          1
R            792
ERA         3.15
WP            66
Name: 1095, dtype: object

WS Probability = 0.945744358682
franchID     OAK
WSWin          0
R            605
ERA         1.93
WP            62
Name: 74, dtype: object

WS Probability = 0.944472371326
franchID     CIN
WSWin          1
R            840
ERA         3.37
WP            66
Name: 1220, dtype: object

WS Probability = 0.943953107929
franchID     DET
WSWin          0
R            778
ERA         2.86
WP            64
Name: 179, dtype: object

WS Probability = 0.943902294167
franchID     CLE
WSWin          0
R            840
ERA         3.83
WP            69
Name: 1713, dtype: object

WS Probability = 0.94362562568
franchID     NYY
WSWin          0
R            805
ERA         3.26
WP            66
Name: 810, dtype: object

WS Probability = 0.942489270237
franchID     SFG
WSWin          0
R            652
ERA         2.14
WP            62
Name: 56, dtype: object

WS Probability = 0.938635165791
franchID     ATL
WSWin          0
R            826
ERA         3.25
WP            65
Name: 1792, dtype: object

WS Probability = 0.937759855811
franchID     PIT
WSWin          0
R            585
ERA         2.12
WP            63
Name: 60, dtype: object

WS Probability = 0.937286700668
franchID     NYY
WSWin          1
R            979
ERA         3.65
WP            64
Name: 537, dtype: object

WS Probability = 0.937109076562
franchID     DET
WSWin          0
R            666
ERA         2.26
WP            62
Name: 71, dtype: object

WS Probability = 0.935713277882
franchID    NYY
WSWin         1
R           801
ERA         3.2
WP           65
Name: 793, dtype: object

WS Probability = 0.934997842081
franchID     CHC
WSWin          1
R            624
ERA         2.14
WP            62
Name: 52, dtype: object

WS Probability = 0.934190240042
franchID     NYY
WSWin          1
R            827
ERA         3.46
WP            66
Name: 924, dtype: object

WS Probability = 0.931800719701
franchID     CHC
WSWin          0
R            538
ERA         2.18
WP            64
Name: 228, dtype: object

WS Probability = 0.931591351471
franchID     NYY
WSWin          1
R           1065
ERA         4.17
WP            65
Name: 521, dtype: object

WS Probability = 0.931549390655
franchID     CHC
WSWin          0
R            847
ERA         3.26
WP            64
Name: 500, dtype: object

WS Probability = 0.930654611937
franchID     BOS
WSWin          0
R            792
ERA         3.38
WP            66
Name: 672, dtype: object

WS Probability = 0.93054978071
franchID    LAD
WSWin         0
R           955
ERA         4.1
WP           67
Name: 785, dtype: object

WS Probability = 0.927144396714
franchID     SFG
WSWin          0
R            635
ERA         2.27
WP            62
Name: 216, dtype: object