# Prediction of 2017 World Series winner given data 1905 dataset.

In [1]:
import pandas as pd

In [14]:
tot1905 = pd.read_csv("../clean_data/1905ML.csv")
tot1905 = tot1905.drop({"Unnamed: 0", "H", "HR", "BB", "SB", "HA", "HRA", "BBA", "SOA", "E"}, axis=1)
tot1905

      yearID franchID WSWin    R   ERA  WP
0       1905      BOS     N  579  2.84  50
1       1905      LAD     N  506  3.76  30
2       1905      ATL     N  468  3.52  32
3       1905      CHW     N  612  1.99  58
4       1905      CHC     N  667  2.04  59
5       1905      CIN     N  735  3.01  50
6       1905      CLE     N  567  2.85  49
7       1905      DET     N  512  2.83  51
8       1905      SFG     Y  780  2.39  67
9       1905      NYY     N  586  2.93  46
10      1905      OAK     N  623  2.19  60
11      1905      PHI     N  708  2.81  53
12      1905      PIT     N  692  2.86  61
13      1905      BAL     N  511  2.74  34
14      1905      STL     N  535  3.59  37
15      1905      MIN     N  559  2.87  41
16      1906      BOS     N  463  3.41  31
17      1906      LAD     N  496  3.13  43
18      1906      ATL     N  408  3.14  32
19      1906      CHW     Y  570  2.13  60
20      1906      CHC     N  705  1.75  74
21      1906      CIN     N  533  2.69  41
22      1906      CLE     N  663  2.09  56
23      1906      DET     N  518  3.06  47
24      1906      SFG     N  625  2.49  62
25      1906      NYY     N  644  2.78  58
26      1906      OAK     N  561  2.60  52
27      1906      PHI     N  528  2.58  46
28      1906      PIT     N  623  2.21  60
29      1906      BAL     N  558  2.23  49
...      ...      ...   ...  ...   ...  ..
2300    2015      KCR     Y  724  3.73  58
2301    2015      MIN     N  696  4.07  51
2302    2015      CLE     N  669  3.67  50
2303    2015      CHW     N  622  3.98  46
2304    2015      DET     N  689  4.64  45
2305    2015      TOR     N  891  3.80  57
2306    2015      NYY     N  764  4.03  53
2307    2015      BAL     N  713  4.05  50
2308    2015      TBD     N  644  3.74  49
2309    2015      BOS     N  748  4.31  48
2310    2015      TEX     N  751  4.24  54
2311    2015      HOU     N  729  3.57  53
2312    2015      ANA     N  661  3.94  52
2313    2015      SEA     N  656  4.16  46
2314    2015      OAK     N  694  4.14  41
2315    2015      STL     N  647  2.94  61
2316    2015      PIT     N  697  3.21  60
2317    2015      CHC     N  689  3.36  59
2318    2015      MIL     N  655  4.28  41
2319    2015      CIN     N  640  4.33  39
2320    2015      NYM     N  683  3.43  55
2321    2015      WSN     N  703  3.62  51
2322    2015      FLA     N  613  4.02  43
2323    2015      ATL     N  573  4.41  41
2324    2015      PHI     N  626  4.69  38
2325    2015      LAD     N  667  3.44  56
2326    2015      SFG     N  696  3.72  51
2327    2015      ARI     N  720  4.04  48
2328    2015      SDP     N  650  4.09  45
2329    2015      COL     N  737  5.04  41

[2330 rows x 6 columns]

In [3]:
tot2017 = pd.read_csv("../clean_data/2017ML.csv")
tot2017 = tot2017.drop({"Unnamed: 0", "WSWIN"}, axis=1)
tot2017

   franchID    R   ERA     WP
0       ARI  812  3.66  0.574
1       ATL  732  4.72  0.444
2       BAL  743  4.97  0.463
3       BOS  785  3.70  0.574
4       CHC  822  3.95  0.568
5       CHW  706  4.78  0.414
6       CIN  753  5.17  0.420
7       CLE  818  3.30  0.630
8       COL  824  4.51  0.537
9       DET  735  5.36  0.395
10      HOU  896  4.12  0.623
11      KCR  702  4.61  0.494
12      LAA  710  4.20  0.494
13      LAD  770  3.38  0.642
14      MIA  778  4.82  0.475
15      MIL  732  4.00  0.531
16      MIN  815  4.59  0.525
17      NYM  735  5.01  0.432
18      NYY  858  3.72  0.562
19      OAK  739  4.67  0.463
20      PHI  690  4.55  0.407
21      PIT  668  4.22  0.463
22      SDP  604  4.67  0.438
23      SEA  750  4.46  0.481
24      SFG  639  4.50  0.395
25      STL  761  4.01  0.512
26      TBR  694  3.97  0.494
27      TEX  799  4.66  0.481
28      TOR  693  4.42  0.469
29      WSN  819  3.88  0.599

In [4]:
# Create a function to convert the bats and throws colums to numeric
def bats_throws(col):
   if col == "Y":
       return 1
   else:
       return 0

# Use the `apply()` method to create numeric columns from the bats and throws columns
tot1905['WSWin'] = tot1905['WSWin'].apply(bats_throws)

# Print out the first rows of `master_df`
tot1905

      yearID franchID  WSWin    R   ERA  WP
0       1969      ATL      0  691  3.53  57
1       1969      BAL      0  779  2.83  67
2       1969      BOS      0  743  3.92  53
3       1969      ANA      0  528  3.54  43
4       1969      CHW      0  625  4.21  41
5       1969      CHC      0  720  3.34  56
6       1969      CIN      0  798  4.11  54
7       1969      CLE      0  573  3.94  38
8       1969      DET      0  701  3.31  55
9       1969      HOU      0  676  3.60  50
10      1969      KCR      0  586  3.72  42
11      1969      LAD      0  645  3.08  52
12      1969      MIN      0  790  3.24  59
13      1969      WSN      0  582  4.33  32
14      1969      NYY      0  562  3.23  49
15      1969      NYM      1  632  2.99  61
16      1969      OAK      0  740  3.71  54
17      1969      PHI      0  645  4.14  38
18      1969      PIT      0  725  3.61  54
19      1969      SDP      0  468  4.24  32
20      1969      MIL      0  639  4.35  39
21      1969      SFG      0  713  3.26  55
22      1969      STL      0  595  2.94  53
23      1969      TEX      0  694  3.49  53
24      1970      ATL      0  736  4.33  46
25      1970      BAL      1  792  3.15  66
26      1970      BOS      0  786  3.87  53
27      1970      ANA      0  631  3.48  53
28      1970      CHW      0  633  4.54  34
29      1970      CHC      0  806  3.76  51
...      ...      ...    ...  ...   ...  ..
1230    2015      KCR      1  724  3.73  58
1231    2015      MIN      0  696  4.07  51
1232    2015      CLE      0  669  3.67  50
1233    2015      CHW      0  622  3.98  46
1234    2015      DET      0  689  4.64  45
1235    2015      TOR      0  891  3.80  57
1236    2015      NYY      0  764  4.03  53
1237    2015      BAL      0  713  4.05  50
1238    2015      TBD      0  644  3.74  49
1239    2015      BOS      0  748  4.31  48
1240    2015      TEX      0  751  4.24  54
1241    2015      HOU      0  729  3.57  53
1242    2015      ANA      0  661  3.94  52
1243    2015      SEA      0  656  4.16  46
1244    2015      OAK      0  694  4.14  41
1245    2015      STL      0  647  2.94  61
1246    2015      PIT      0  697  3.21  60
1247    2015      CHC      0  689  3.36  59
1248    2015      MIL      0  655  4.28  41
1249    2015      CIN      0  640  4.33  39
1250    2015      NYM      0  683  3.43  55
1251    2015      WSN      0  703  3.62  51
1252    2015      FLA      0  613  4.02  43
1253    2015      ATL      0  573  4.41  41
1254    2015      PHI      0  626  4.69  38
1255    2015      LAD      0  667  3.44  56
1256    2015      SFG      0  696  3.72  51
1257    2015      ARI      0  720  4.04  48
1258    2015      SDP      0  650  4.09  45
1259    2015      COL      0  737  5.04  41

[1260 rows x 6 columns]

In [5]:
features = tot1905.drop({"franchID", "WSWin", "yearID"}, axis=1)
features

        R   ERA  WP
0     691  3.53  57
1     779  2.83  67
2     743  3.92  53
3     528  3.54  43
4     625  4.21  41
5     720  3.34  56
6     798  4.11  54
7     573  3.94  38
8     701  3.31  55
9     676  3.60  50
10    586  3.72  42
11    645  3.08  52
12    790  3.24  59
13    582  4.33  32
14    562  3.23  49
15    632  2.99  61
16    740  3.71  54
17    645  4.14  38
18    725  3.61  54
19    468  4.24  32
20    639  4.35  39
21    713  3.26  55
22    595  2.94  53
23    694  3.49  53
24    736  4.33  46
25    792  3.15  66
26    786  3.87  53
27    631  3.48  53
28    633  4.54  34
29    806  3.76  51
...   ...   ...  ..
1230  724  3.73  58
1231  696  4.07  51
1232  669  3.67  50
1233  622  3.98  46
1234  689  4.64  45
1235  891  3.80  57
1236  764  4.03  53
1237  713  4.05  50
1238  644  3.74  49
1239  748  4.31  48
1240  751  4.24  54
1241  729  3.57  53
1242  661  3.94  52
1243  656  4.16  46
1244  694  4.14  41
1245  647  2.94  61
1246  697  3.21  60
1247  689  3.36  59
1248  655  4.28  41
1249  640  4.33  39
1250  683  3.43  55
1251  703  3.62  51
1252  613  4.02  43
1253  573  4.41  41
1254  626  4.69  38
1255  667  3.44  56
1256  696  3.72  51
1257  720  4.04  48
1258  650  4.09  45
1259  737  5.04  41

[1260 rows x 3 columns]

In [6]:
features2017 = tot2017.drop({"franchID"}, axis=1)
features2017

      R   ERA     WP
0   812  3.66  0.574
1   732  4.72  0.444
2   743  4.97  0.463
3   785  3.70  0.574
4   822  3.95  0.568
5   706  4.78  0.414
6   753  5.17  0.420
7   818  3.30  0.630
8   824  4.51  0.537
9   735  5.36  0.395
10  896  4.12  0.623
11  702  4.61  0.494
12  710  4.20  0.494
13  770  3.38  0.642
14  778  4.82  0.475
15  732  4.00  0.531
16  815  4.59  0.525
17  735  5.01  0.432
18  858  3.72  0.562
19  739  4.67  0.463
20  690  4.55  0.407
21  668  4.22  0.463
22  604  4.67  0.438
23  750  4.46  0.481
24  639  4.50  0.395
25  761  4.01  0.512
26  694  3.97  0.494
27  799  4.66  0.481
28  693  4.42  0.469
29  819  3.88  0.599

In [7]:
# Create `target` Series
target = tot1905['WSWin']
target

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      1
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      1
26      0
27      0
28      0
29      0
       ..
1230    1
1231    0
1232    0
1233    0
1234    0
1235    0
1236    0
1237    0
1238    0
1239    0
1240    0
1241    0
1242    0
1243    0
1244    0
1245    0
1246    0
1247    0
1248    0
1249    0
1250    0
1251    0
1252    0
1253    0
1254    0
1255    0
1256    0
1257    0
1258    0
1259    0
Name: WSWin, Length: 1260, dtype: int64

In [8]:
# Import cross_val_predict, KFold and LogisticRegression from 'sklearn'
from sklearn.cross_validation import cross_val_predict, KFold
from sklearn.linear_model import LogisticRegression

# Create Logistic Regression model
lr = LogisticRegression(class_weight='balanced')

# Create an instance of the KFold class
kf = KFold(features.shape[0], random_state=1)

# Create predictions using cross validation
predictions_lr = cross_val_predict(lr, features, target, cv=kf)

/Applications/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [9]:
import numpy as np

# Convert predictions and target to NumPy arrays
np_predictions_lr = np.asarray(predictions_lr)
np_target = target.as_matrix()

In [10]:
# Determine True Positive count
tp_filter_lr = (np_predictions_lr == 1) & (np_target == 1)
tp_lr = len(np_predictions_lr[tp_filter_lr])

# Determine False Negative count
fn_filter_lr = (np_predictions_lr == 0) & (np_target == 1)
fn_lr = len(np_predictions_lr[fn_filter_lr])

# Determine False Positive count
fp_filter_lr = (np_predictions_lr == 1) & (np_target == 0)
fp_lr = len(np_predictions_lr[fp_filter_lr])

# Determine True Negative count
tn_filter_lr = (np_predictions_lr == 0) & (np_target == 0)
tn_lr = len(np_predictions_lr[tn_filter_lr])

# Determine True Positive rate
tpr_lr = tp_lr / (tp_lr + fn_lr)

# Determine False Negative rate
fnr_lr = fn_lr / (fn_lr + tp_lr)

# Determine False Positive rate
fpr_lr = fp_lr / (fp_lr + tn_lr)

# Print each count
print(tp_lr)
print(fn_lr)
print(fp_lr)

# Print each rate
print(tpr_lr)
print(fnr_lr)
print(fpr_lr)

38
8
298
0.8260869565217391
0.17391304347826086
0.24546952224052718

In [11]:
new_data = tot2017
new_features = features2017

In [12]:
# Fit the Random Forest model
lr.fit(features, target)

# Estimate probabilities of Hall of Fame induction
probabilities = lr.predict_proba(new_features)

In [13]:
# Convert predictions to a DataFrame
WS_predictions = pd.DataFrame(probabilities[:,1])

# Sort the DataFrame (descending)
WS_predictions = WS_predictions.sort_values(0, ascending=False)

WS_predictions['Probability'] = WS_predictions[0]

# Print 50 highest probability HoF inductees from still eligible players
for i, row in WS_predictions.head(50).iterrows():
   prob = ' '.join(('WS Probability =', str(row['Probability'])))
   print('')
   print(prob)
   print(new_data.iloc[i,1:27])

WS Probability = 0.000567750444291
R       818
ERA     3.3
WP     0.63
Name: 7, dtype: object

WS Probability = 0.000386572498575
R        770
ERA     3.38
WP     0.642
Name: 13, dtype: object

WS Probability = 0.000337225795312
R        858
ERA     3.72
WP     0.562
Name: 18, dtype: object

WS Probability = 0.000294728209055
R        812
ERA     3.66
WP     0.574
Name: 0, dtype: object

WS Probability = 0.000239189716566
R        785
ERA      3.7
WP     0.574
Name: 3, dtype: object

WS Probability = 0.000210695494912
R        819
ERA     3.88
WP     0.599
Name: 29, dtype: object

WS Probability = 0.000209445957019
R        896
ERA     4.12
WP     0.623
Name: 10, dtype: object

WS Probability = 0.000188917067286
R        822
ERA     3.95
WP     0.568
Name: 4, dtype: object

WS Probability = 0.000123021808249
R        761
ERA     4.01
WP     0.512
Name: 25, dtype: object

WS Probability = 0.000107954043486
R        732
ERA        4
WP     0.531
Name: 15, dtype: object

WS Probability = 9.26971520401e-05
R        694
ERA     3.97
WP     0.494
Name: 26, dtype: object

WS Probability = 7.2908164575e-05
R        824
ERA     4.51
WP     0.537
Name: 8, dtype: object

WS Probability = 6.79856381284e-05
R        710
ERA      4.2
WP     0.494
Name: 12, dtype: object

WS Probability = 6.05607902049e-05
R        815
ERA     4.59
WP     0.525
Name: 16, dtype: object

WS Probability = 5.35534869266e-05
R        750
ERA     4.46
WP     0.481
Name: 23, dtype: object

WS Probability = 5.2541114932e-05
R        668
ERA     4.22
WP     0.463
Name: 21, dtype: object

WS Probability = 4.90864652238e-05
R        799
ERA     4.66
WP     0.481
Name: 27, dtype: object

WS Probability = 4.25479454223e-05
R        693
ERA     4.42
WP     0.469
Name: 28, dtype: object

WS Probability = 3.52144760617e-05
R        739
ERA     4.67
WP     0.463
Name: 19, dtype: object

WS Probability = 3.34410987455e-05
R        778
ERA     4.82
WP     0.475
Name: 14, dtype: object

WS Probability = 3.32039235179e-05
R        690
ERA     4.55
WP     0.407
Name: 20, dtype: object

WS Probability = 3.23502443078e-05
R        702
ERA     4.61
WP     0.494
Name: 11, dtype: object

WS Probability = 3.10768390315e-05
R        732
ERA     4.72
WP     0.444
Name: 1, dtype: object

WS Probability = 2.76859423358e-05
R        639
ERA      4.5
WP     0.395
Name: 24, dtype: object

WS Probability = 2.43796231571e-05
R        706
ERA     4.78
WP     0.414
Name: 5, dtype: object

WS Probability = 2.15264503579e-05
R        743
ERA     4.97
WP     0.463
Name: 2, dtype: object

WS Probability = 1.91870459094e-05
R        735
ERA     5.01
WP     0.432
Name: 17, dtype: object

WS Probability = 1.73770791978e-05
R        604
ERA     4.67
WP     0.438
Name: 22, dtype: object

WS Probability = 1.59958103859e-05
R       753
ERA    5.17
WP     0.42
Name: 6, dtype: object

WS Probability = 1.04828404913e-05
R        735
ERA     5.36
WP     0.395
Name: 9, dtype: object

### Entry 7 is CLE.
### Entry 13 (second place) is LAD.  LAD played in the World Series but lost to HOU.
### HOU won the World Series in 2017.   The model failed.