# WINS

In [1]:
# Import dependencies.
import plotly.plotly as py
import plotly.graph_objs as go

import numpy as np
import pandas as pd
import statistics

In [2]:
import plotly
plotly.tools.set_credentials_file(username='', api_key='')

### Open up the 1905 and 1969 csv files and inspect.

In [3]:
# Open up the csv for World Series Winners from 1905 onwards.
df2a = pd.read_csv("../clean_data/wswin_1905win.csv")
df2a = df2a.drop("Unnamed: 0", axis=1)
df2a

    Percentage  Count  Frequency
0           67      2   0.018182
1           60      8   0.072727
2           69      2   0.018182
3           62     13   0.118182
4           71      1   0.009091
5           65      6   0.054545
6           66      7   0.063636
7           68      4   0.036364
8           59     10   0.090909
9           58      9   0.081818
10          64      6   0.054545
11          63      7   0.063636
12          61     12   0.109091
13          57      3   0.027273
14          70      2   0.018182
15          56     12   0.109091
16          55      2   0.018182
17          52      1   0.009091
18          54      2   0.018182
19          51      1   0.009091

In [4]:
# Open up the csv for all teams from 1905 onwards.
df2b = pd.read_csv("../clean_data/nowswin_1905win.csv")
df2b = df2b.drop("Unnamed: 0", axis=1)
df2b

    Percentage  Count  Frequency
0           50    115   0.052178
1           30      5   0.002269
2           32     20   0.009074
3           58     70   0.031760
4           59     67   0.030399
5           49     86   0.039020
6           51    110   0.049909
7           46    117   0.053085
8           60     47   0.021325
9           53    124   0.056261
10          61     35   0.015880
11          34     23   0.010436
12          37     38   0.017241
13          41     90   0.040835
14          31      8   0.003630
15          43     81   0.036751
16          74      1   0.000454
17          56     91   0.041289
18          47     72   0.032668
19          62     37   0.016788
20          52     86   0.039020
21          33     22   0.009982
22          36     18   0.008167
23          38     47   0.021325
24          42     55   0.024955
25          55     84   0.038113
26          57     59   0.026770
27          44     80   0.036298
28          48    112   0.050817
29          40     63   0.028584
30          63     12   0.005445
31          35     24   0.010889
32          29      8   0.003630
33          67      5   0.002269
34          45     95   0.043103
35          39     45   0.020417
36          26      2   0.000907
37          28      2   0.000907
38          64     13   0.005898
39          54    114   0.051724
40          66      5   0.002269
41          27      6   0.002722
42          23      1   0.000454
43          25      1   0.000454
44          69      2   0.000907
45          65      2   0.000907
46          24      2   0.000907
47          71      2   0.000907

In [5]:
# Open up the csv for World Series Winners from 1969 onwards.
df3a = pd.read_csv("../clean_data/wswin_1969win.csv")
df3a = df3a.drop("Unnamed: 0", axis=1)
df3a

    Percentage  Count  Frequency
0           61      6   0.130435
1           66      3   0.065217
2           59      4   0.086957
3           60      5   0.108696
4           58      6   0.130435
5           55      2   0.043478
6           62      2   0.043478
7           56     10   0.217391
8           57      1   0.021739
9           64      1   0.021739
10          52      1   0.021739
11          70      1   0.021739
12          54      2   0.043478
13          51      1   0.021739
14          63      1   0.021739

In [6]:
# Open up the csv for all teams from 1969 onwards.
df3b = pd.read_csv("../clean_data/nowswin_1969win.csv")
df3b = df3b.drop("Unnamed: 0", axis=1)
df3b

    Percentage  Count  Frequency
0           57     25   0.020593
1           67      1   0.000824
2           53     73   0.060132
3           43     50   0.041186
4           41     55   0.045305
5           56     47   0.038715
6           54     85   0.070016
7           38     23   0.018946
8           55     48   0.039539
9           50     63   0.051895
10          42     28   0.023064
11          52     47   0.038715
12          59     44   0.036244
13          32      4   0.003295
14          49     42   0.034596
15          39     23   0.018946
16          46     80   0.065898
17          34      7   0.005766
18          51     75   0.061779
19          62     16   0.013180
20          48     70   0.057661
21          40     35   0.028830
22          60     19   0.015651
23          45     68   0.056013
24          63      7   0.005766
25          37     19   0.015651
26          61     14   0.011532
27          44     35   0.028830
28          35      9   0.007414
29          47     40   0.032949
30          58     39   0.032125
31          33      7   0.005766
32          36      6   0.004942
33          64      4   0.003295
34          69      1   0.000824
35          65      1   0.000824
36          71      1   0.000824
37          26      1   0.000824
38          31      2   0.001647

### Pull data into lists from tables.

In [7]:
percentage2a = list(df2a["Percentage"])
frequency2a = list(df2a["Count"])

In [8]:
percentage2b = list(df2b["Percentage"])
frequency2b = list(df2b["Count"])

In [9]:
percentage3a = list(df3a["Percentage"])
frequency3a = list(df3a["Count"])

In [10]:
percentage3b = list(df3b["Percentage"])
frequency3b = list(df3b["Count"])

### Graph the data.

In [11]:
trace1 = go.Bar(
    x = percentage2a,
    y = frequency2a,
    marker = dict(
        color = "rgb(28, 74, 175)"
    ),
    name = "World Series Winners"
)

trace2 = go.Bar(
    x = percentage2b, 
    y = frequency2b,
    marker = dict(
        color = "rgb(192, 57, 43)"
    ),
    name = "Non-World Series Winning Teams"
)

data = [trace1, trace2]
layout = go.Layout(
    xaxis = {"title": "Win Percentage"},
    yaxis = {"title": "Frequency"},
    barmode = "group",
    title = "World Series Winners (1905-2015)"
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename="1905")

In [12]:
trace1 = go.Bar(
    x = percentage3a,
    y = frequency3a,
    marker = dict(
        color = "rgb(28, 74, 175)"
    ),
    name = "World Series Winners"
)

trace2 = go.Bar(
    x = percentage3b, 
    y = frequency3b,
    marker = dict(
        color = "rgb(192, 57, 43)"
    ),
    name = "Non-World Series Winning Teams"
)

data = [trace1, trace2]
layout = go.Layout(
    xaxis = {"title": "Win Percentage"},
    yaxis = {"title": "Frequency"},
    barmode = "group",
    title = "World Series Winners (1969-2015)"
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename="1969")

## Perform basic stats analysis.
    # Calculate mean and standard deviation of wins of the World Series winning population.
    # Calculate mean and standard deviation of wins of the World Series non-winning population.
    # Calculate confidence interval.

### 1905.

In [14]:
# Calculate mean of wins of World Series winning teams for 1905 onwards.
wswin_mean1905 = round((np.mean(df2a["Percentage"])), 2)
wswin_mean1905

61.4

In [16]:
# Calculate standard deviation of wins for World Series winning teams for 1905 onwards.
wswin_dev1905 = round((statistics.stdev(df2a["Percentage"])), 2)
wswin_dev1905

6.0

In [18]:
# Calculate number of entries in World Series winning teams for 1905 onwards.
wswin_len1905 = df2a["Count"].sum()
wswin_len1905

110

In [19]:
# Calculate number of wins of non-World Series winning teams for 1905 onwards.
nowswin_mean1905 = round((np.mean(df2b["Percentage"])), 2)
nowswin_mean1905

46.65

In [20]:
# Calculate standard deviation of wins for non-World Series winning teams for 1905 onwards.
nowswin_dev1905 = round((statistics.stdev(df2b["Percentage"])), 2)
nowswin_dev1905

14.25

In [21]:
# Calculate number of entries in non-World Series winning teams for 1905 onwards.
nowswin_len1905 = df2b["Count"].sum()
nowswin_len1905

2204

### Determine significance of 1905 winners and non-winners.

In [22]:
# Calculate variance for each sample group.
wswin_variance1905 = (wswin_dev1905)**2
nowswin_variance1905 = (nowswin_dev1905)**2
print (wswin_variance1905)
print (nowswin_variance1905)

36.0
203.0625

    # The hypothesis I'm testing is that World Series winners tend to have higher wins than non-World Series teams.
    # That means:
        # null hypothesis is:  u1 < u2....  or u1 - u2 <= 0
        # hypothesis to test is:  u1 - u2 > 0
    # This stands to be a right tail test.

In [23]:
# Calculate Z.
num_1905 = wswin_mean1905 - nowswin_mean1905
dem_1905 = ((wswin_variance1905/wswin_len1905) + (nowswin_variance1905/nowswin_len1905)) ** 0.5
Z_1905 = num_1905/dem_1905
Z_1905

22.775846153539867

    # Because this is a right tail, find negative Z.  Then look up on table.

### Look up the Z value on table.  P-Value is < 0.00001
### This means that I can say that if the confidence level is 99.99% (alpha = 0.0001) that World Series teams definitely has a lower Win percentage than all other teams.... because p<= alpha (reject null hypothesis; accept test hypothesis).

### 1969.

In [24]:
# Calculate mean of wins of World Series winning teams for 1969 onwards.
wswin_mean1969 = round((np.mean(df3a["Percentage"])), 2)
wswin_mean1969

59.2

In [25]:
# Calculate standard deviation of World Series winning teams for 1969 onwards.
wswin_dev1969 = round((statistics.stdev(df3a["Percentage"])), 2)
wswin_dev1969

5.29

In [26]:
# Calculate number of World Series winning teams for 1969 onwards.
wswin_len1969 = df3a["Count"].sum()
wswin_len1969

46

In [27]:
# Calculate mean of wins of non-World Series winning teams for 1969 onwards.
nowswin_mean1969 = round((np.mean(df3b["Percentage"])), 2)
nowswin_mean1969

49.05

In [28]:
# Calculate standard deviation of wins of non-World Series winning teams for 1969 onwards.
nowswin_dev1969 = round((statistics.stdev(df3b["Percentage"])), 2)
nowswin_dev1969

11.83

In [29]:
# Calculate number of non-World Series winning teams for 1969 onwards.
nowswin_len1969 = df3b["Count"].sum()
nowswin_len1969

1214

### Determine significance of 1969 winners and non-winners.

In [30]:
# Calculate variance for each sample group.
wswin_variance1969 = (wswin_dev1969)**2
nowswin_variance1969 = (nowswin_dev1969)**2
print (wswin_variance1969)
print (nowswin_variance1969)

27.9841
139.9489

    # The hypothesis I'm testing is that World Series winners tend to have higher wins than non-World Series teams.
    # That means:
        # null hypothesis is:  u1 < u2....  or u1 - u2 <= 0
        # hypothesis to test is:  u1 - u2 > 0
    # This stands to be a right tail test.

In [32]:
# Calculate Z.
num_1969 = wswin_mean1969 - nowswin_mean1969
dem_1969 = ((wswin_variance1969/wswin_len1969) + (nowswin_variance1969/nowswin_len1969)) ** 0.5
Z_1969 = num_1969/dem_1969
Z_1969

11.931856254327453

    # Because this is a right tail, find negative Z.  Then look up on table.

### Look up the Z value on table.  P-Value is < 0.00001
### This means that I can say that if the confidence level is 99.99% (alpha = 0.0001) that World Series teams definitely has a lower wins than all other teams.... because p<= alpha (reject null hypothesis; accept test hypothesis).